<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>

	<h3>Give Score</h3>

	<form action="/subjects/<%= data[0].Subject.id %>/<%= data[0].Student.id %>/give-score" method="post">
		<table>
			<tr>
				<td>Student Name: </td>
				<td>
					<input type="text" value="<%= data[0].Student.first_name %>" readonly>
				</td>
			</tr>
			<tr>
				<td>Subject Name: </td>
				<td>
					<input type="text" value="<%= data[0].Subject.subject_name %>" readonly>
				</td>
			</tr>
			<tr>
				<td>Score: </td>
				<td>
					<input type="text" name="score" placeholder="ex: 79">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="Save">
				</td>
			</tr>
		</table>
	</form>

	<br>

	<a href="/subjects/enrolledstudents/<%= data[0].Subject.id %>"> << back to enrolled students </a>
	
</body>
</html>